* {
    background: #1d1c1a;
    /* border: 2px solid lime; */
}

@font-face {
    font-family: Hacked;
    src: url(./fonts/Hacked-KerX.ttf);
}

.box {
    width: 700px;
    height: 700px;
    border: 5px solid #393833;
    background: #191816;
    margin: 100px auto;
}

.bouncing_ball_h1 {
    color: #ffffff;
    background-color: transparent;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: Hacked;
    font-size: 500%;
    justify-content: center;
    margin: 0 0 0 1.25em;
}
.outer {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 100%;
    height: 300px;
    animation: stairs 3s linear infinite;
    /* animation: stairs 3s linear forwards; */
}

.ball {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: #758e48;
    left: -5px;
    top: 75px;
    animation: movement 3s linear infinite, squashing 3s linear infinite;
    /* animation: movement 3s linear forwards, squashing 3s linear forwards; */
}

@keyframes movement {
    /* drop */
    16% {
        top: 280px;
        animation-timing-function: ease-out;
    }
    /* rise */
    32% {
        top: 80px;
        animation-timing-function: ease in;
    }
    /* drop */
    48% {
        top: 220px;
        animation-timing-function: ease-out;
    }
    /* rise */
    62% {
        top: 110px;
        animation-timing-function: ease in;
    }
    /* drop */
    78% {
        top: 155px;
        animation-timing-function: ease-out;
    }
    /* rise */
    94% {
        top: 190px;
        animation-timing-function: ease in;
    }
    /* [> drop <] */
    100% {
        top: -135px;
        left: 98%;
        animation-timing-function: ease-in-out;
        /* transform: rotate(360deg); */
    }
}

@keyframes stairs {
    16% {
        top: 20%;
    }
    32% {
        top: 50%;
    }
    48%{
        top: 40%;
    }
    62% {
        top: 55%;
    }
    78% {
        top: 60%;
    }
    94% {
        top: 45%;
    }
    100% {
        top: 90%;
    }
}

@keyframes squashing {
    16%, 48%, 78% {
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.6);
    }
     /* bottom of bounce */
    15%, 47%, 77%, 18%, 50%, 80% {
        border-radius: 50%;
        transform: scalex(1)
    }
}
